/* 
================================================================================================================================ 
max-width: 900px
================================================================================================================================ 
*/

@media(max-width: 900px) {

    h1 {
        margin-top: 0;
        font-size: 3rem;
    }

    .make-lines {
        width: 450px;
        height: 450px;
    }

    .horizontal-line {
        width: 405px;
    }

    .make-diagonal-plus {
        width: 540px;
    }

    .make-diagonal-minus {
        width: 540px;
    }

    table {
        width: 450px;
        height: 450px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 126px;
        height: 126px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 108px;
        height: 108px;
        bottom: 6%;
        left: 6%;
    }

    .player-panel {
        display: none;
    }

    .player-panel-mobile {
        position: fixed;
        display: flex;
        top: 68%;
        font-size: 2rem;
        margin-top: 10%;
    }

    .player-panel-mobile img {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    .player-panel-mobile div {
        font-family: 'Nunito', sans-serif;
        color: #fff;
    }

    .player-inactive {
        opacity: 0.5;
    }

    #player-2-mobile {
        margin-left: 2rem;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        position: fixed;
        display: flex;
        top: 84%;
        width: 60%;
    }

    .buttons-mobile button {
        height: 2rem;
    }

    .buttons-mobile button img {
        height: 1.5rem;
    }

    .volume select {
        height: 1.5rem;
        width: 100%;
        color: #000;
        font-size: 1rem;
    }
}

/* 
================================================================================================================================ 
max-width: 725px
================================================================================================================================ 
*/

@media(max-width: 725px) {


    .buttons-mobile {
    
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            top: 70%;
            width: 60%;
        
    }

    .player-panel-mobile {
        flex-direction: column;
        top: 50%;
    }

    #player-2-mobile {
        margin-left: 0;
    }


    .make-lines {
        width: 300px;
        height: 300px;
    }

    .horizontal-line {
        width: 270px;
    }

    .make-diagonal-plus {
        width: 360px;
    }

    .make-diagonal-minus {
        width: 360px;
    }

    table {
        width: 300px;
        height: 300px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 84px;
        height: 84px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 72px;
        height: 72px;
        bottom: 6%;
        left: 6%;
    }

    .game-over {
        font-size: 1.5rem;
    }
}


/* 
================================================================================================================================ 
max-width: 600px
================================================================================================================================ 
*/

@media(max-width: 600px) {

    .buttons-mobile {
        top: 60%;
    }

    .player-panel-mobile {
        top: 45%;
    }


    .make-lines {
        width: 300px;
        height: 300px;
    }

    .horizontal-line {
        width: 270px;
    }

    .make-diagonal-plus {
        width: 360px;
    }

    .make-diagonal-minus {
        width: 360px;
    }

    table {
        width: 300px;
        height: 300px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 84px;
        height: 84px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 72px;
        height: 72px;
        bottom: 6%;
        left: 6%;
    }

    .game-over {
        font-size: 1.5rem;
    }
}

/* 
================================================================================================================================ 
max-width: 560px
================================================================================================================================ 
*/

@media(max-width: 560px) {

    .buttons-mobile {
        width: 75%;
    }

    .restart-btn {
        width: 30%;
    }

    .sound {
        width: 30%;

    }

    .volume {
        width: 30%;
    }


}

/* 
================================================================================================================================ 
max-width: 400px
================================================================================================================================ 
*/

@media(max-width: 400px) {

    main {
        margin: 0 !important;
    }

    .make-lines {
        width: 260px;
        height: 260px;
    }

    .horizontal-line {
        width: 234px;
    }

    .make-diagonal-plus {
        width: 312px;
    }

    .make-diagonal-minus {
        width: 312px;
    }

    table {
        margin-left: 0 !important;
        width: 270px;
        height: 270px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 73px;
        height: 73px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 62px;
        height: 62px;
        bottom: 7%;
        left: 8%;
    }

    .game-over {
        font-size: 1.5rem;
    }

    .player-panel-mobile {
        top: 63%;
        font-size: 1.5rem;
    }

    .buttons-mobile {
        top: 75%;
        width: 93%;
        margin-left: 0;
    }

    .restart-btn {
        width: 18%;
    }

    .sound {
        width: 18%;

    }

    .volume {
        width: 18%;
    }

    .volume select {
        font-size: 0.75rem;
    }
}

/* 
================================================================================================================================ 
iPhone 4
================================================================================================================================ 
*/


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    h1 {
        font-size: 1.5rem;
    }

    .player-panel-mobile {
        flex-direction: row;
        margin-top: 10%;
    }

    #player-2-mobile {
        margin-top: 0;
        margin-left: 1rem;
    }

    .player-panel-mobile img {
        width: 16px;
        height: 16px;
    }

    .volume select {
        bottom: 25%
    }
}