@media(max-width: 900px) {

    .player-panel {
        display: none;
    }

    .player-panel-mobile {
        position: fixed;
        display: flex;
        top: 70%;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .player-panel-mobile img {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    .player-panel-mobile div {
        color: #fff;
    }

    .player-inactive {
        opacity: 0.5;
    }

    #player-2-mobile {
        margin-left: 2rem;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        position: fixed;
        display: flex;
        top: 73%;
        width: 60%;
    }

    .volume select {
        height: 32px;
        width: 100%;
        color: #000;
        font-size: 1.5rem;
    }
}


@media(max-width: 725px) {

    .player-panel {
        display: none;
    }

    .player-panel-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 70%;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .player-panel-mobile img {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    .player-panel-mobile div {
        color: #fff;
    }

    .player-inactive {
        opacity: 0.5;
    }

    #player-2-mobile {
        margin-top: 0.5rem;
        margin-left: 0;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        top: 80%;
        width: 60%;
    }

    .volume select {
        height: 32px;
        width: 100%;
        color: #000;
        font-size: 1.5rem;
    }
}

@media(max-width: 600px) {

    .buttons-mobile {
        top: 60%;
    }

    .player-panel-mobile {
        top: 50%;
    }


    .make-lines {
        width: 300px;
        height: 300px;
    }

    .horizontal-line {
        width: 270px;
    }

    .make-diagonal-plus {
        width: 360px;
    }

    .make-diagonal-minus {
        width: 360px;
    }

    table {
        width: 300px;
        height: 300px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 84px;
        height: 84px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 72px;
        height: 72px;
        bottom: 6%;
        left: 6%;
    }

    .game-over {
        font-size: 1.5rem;
    }
}

@media(max-width: 560px) {
    .buttons-mobile {
        width: 75%;
    }

    .restart-btn {
        width: 30%;
    }

    .sound {
        width: 30%;
 
    }
    
    .volume {
        width: 30%;
    }


}

@media(max-width: 400px) {

main {
     margin: 0 !important;
}

    .make-lines {
        width: 260px;
        height: 260px;
    }

    .horizontal-line {
        width: 234px;
    }

    .make-diagonal-plus {
        width: 312px;
    }

    .make-diagonal-minus {
        width: 312px;
    }

    table {
        margin-left: 0 !important;
        width: 270px;
        height: 270px;
        border-collapse: collapse;
    }

    td {
        position: relative;
        width: 73px;
        height: 73px;
        border: 8px solid #fff;
        cursor: pointer;
    }

    td:hover {
        background-color: rgba(192, 223, 201, 0.1);
    }

    .shape {
        position: absolute;
        width: 62px;
        height: 62px;
        bottom: 7%;
        left: 8%;
    }

    .game-over {
        font-size: 1.5rem;
    }

    .player-panel-mobile {
        top: 60%;
    }

    .buttons-mobile {
        top: 75%;
        width: 93%;
        margin-left: 0;
    }

    .restart-btn {
        width: 20%;
    }

    .sound {
        width: 20%;
 
    }
    
    .volume {
        display: none;
    }
}
