html {
    font-size: 100%;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 7%;
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
    font-size: 4rem;
    color: #fff;
}

main {
    display: flex;
    align-items: center;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.buttons button:hover {
    background-color: rgba(192, 223, 201, 0.1);
    cursor: pointer;
}

.buttons button:active {
    box-shadow:
        7px 6px 28px 1px rgba(192, 223, 201, 0.1);
    transform: translateY(4px);
}

.sound {
    height: 48px;
    width: 150px;
    margin-top: 2rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.volume {
    height: 32px;
    width: 150px;
    margin-top: 2rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.volume select {
    height: 48px;
    width: 150px;
    margin-right: 1rem;
    background-color: lightgray;
    color: #000;
    font-size: 1.5rem;
}

.make-lines {
    position: relative;
}

.horizontal-line {
    position: absolute;
    width: 450px;
    height: 8px;
    background-color: rgba(39, 89, 142, 0.7);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.make-diagonal-plus {
    width: 600px;
    transform: rotate(45deg) scaleX(0.0);
}

.make-diagonal-minus {
    width: 600px;
    transform: rotate(-45deg) scaleX(0.0);
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

td {
    position: relative;
    width: 140px;
    height: 140px;
    border: 8px solid #fff;
    cursor: pointer;
}

td:hover {
    background-color: rgba(192, 223, 201, 0.1);
}

.shape {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 0.9375rem;
    left: 0.875rem;
}

.game-over {
    position: absolute;
    top: 50%;
    left: -0.5%;
    width: 100%;
    background: #ebe22f;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
    transform: rotate(-15deg);
    text-align: center;
    z-index: 2;
    animation: zoomIn 1500ms ease-in-out;
    /* Animation "zooIn* wird erstellt */
}

@keyframes zoomIn {

    /* Animation "zooIn* wird aufgerufen */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.player-panel {
    font-size: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.player-inactive {
    opacity: 0.5;
}

.restart-btn {
    height: 48px;
    width: 150px;
    margin-top: 2rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.d-none {
    display: none;
}