body {
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
}

.player-panel {
    font-size: 2rem;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.player-panel div{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    color: #fff;
}

.player-panel img {
   width: 60px;
   height: 60px;
   margin-right: 16px;
}

.player-inactive {
    opacity: 0.5;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

td {
    position: relative;
    width: 140px;
    height: 140px;
    border: 8px solid #fff;
    cursor: pointer;
}

td:hover {
    background-color: rgba(192, 223, 201, 0.1);
}

.shape {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 15px;
    left: 14px;
}

.d-none {
    display: none;
}

.make-lines {
    position: relative;
}

.horizontal-line {
    position: absolute;
    width: 450px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.make-diagonal-plus {
    width: 600px;
    transform: rotate(45deg) scaleX(0.0);
}

.make-diagonal-minus {
    width: 600px;
    transform: rotate(-45deg) scaleX(0.0);
}

