html {
    font-size: 100%;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 10%;
    font-family: 'Cantarell', 'sans-serif';
    font-size: 3rem;
    color: #fff;
}

main {
    display: flex;
    align-items: center;

}

.player-panel {
    font-size: 2rem;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    color: #fff;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.5;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

td {
    position: relative;
    width: 140px;
    height: 140px;
    border: 8px solid #fff;
    cursor: pointer;
}

td:hover {
    background-color: rgba(192, 223, 201, 0.1);
}

.shape {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 15px;
    left: 14px;
}

.d-none {
    display: none;
}

.make-lines {
    position: relative;
}

.horizontal-line {
    position: absolute;
    width: 450px;
    height: 8px;
    background-color: rgba(39, 89, 142, 0.7);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.make-diagonal-plus {
    width: 600px;
    transform: rotate(45deg) scaleX(0.0);
}

.make-diagonal-minus {
    width: 600px;
    transform: rotate(-45deg) scaleX(0.0);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.restart-btn {
    height: 48px;
    width: 150px;
    margin-top: 32px;
    margin-right: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 1.5rem;
}

.sound {
    height: 48px;
    width: 150px;
    margin-top: 32px;
    margin-right: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 1.5rem;
}

.volume {
    height: 32px;
    width: 150px;
    margin-top: 32px;
    margin-right: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Cantarell', 'sans-serif';
    text-align: center;
}

.volume select {
    height: 48px;
    width: 150px;
    margin-right: 16px;
    background-color: lightgray;
    color: #000;
    font-size: 1.5rem;
}

.game-over {
    position: absolute;
    top: 13%;
    left: 16%;
    width: 60%;
    background:#ebe22f;
    color:black;
    font:small-caps bold 1.5em/150% Arial, sans-serif; 
    font-size: 2.5rem; 
    margin-top:4em;
    transform: rotate(-15deg);
    text-align: center;
    /* transform: scaleX(0.0);
    transition: transform 1000ms ease-in-out; */
    z-index: 2;
  }